* {
    margin: 5px;
    padding: 5px;
    /* border: 1px solid red; */
}

body {
    background: #ffaadd;
}

.container {
    width: 500px;
    height: 500px;
    display: grid;
    /* grid-template-rows: 1fr 1fr 1fr ;
    grid-template-columns: 1fr 1fr ; */
    /* grid-template: 1fr 1fr 1fr/ 1fr 1fr ; */      
    grid-template:  repeat(2, 1fr) / repeat(2, 2fr); 
    /* grid-template-columns:  repeat(2, minmax(100px, 1fr)); */
}

.box {
    border: 2px solid saddlebrown;
    /* width: 150px; */
    /* height: 80px; */

}

.container1 {
    width: 500px;
    height: 500px;
    display: grid;
    grid-template:  repeat(2, 1fr) / repeat(2, 2fr); 
}

.box1 {
    border: 2px solid rgb(83, 8, 21);
}

.box1:nth-child(2)
{
    grid-column-end:1;
    grid-column-start: 2;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          
    grid-row-end: 1                                 ;
    grid-row-start: 4                                                                      ;

}

.grid-container
{
    width: 500px;
    height: 500px;
    display: grid;
    /* grid-template-rows: 1fr 1fr 1fr ;
    grid-template-columns: 1fr 1fr ; */
    /* grid-template: 1fr 1fr 1fr/ 1fr 1fr ; */
    grid-template:  repeat(4, 1fr) / repeat(3, 1fr);
    /* grid-template-columns:  repeat(2, minmax(100px, 1fr)); */
}

.grid-item
{                                          
    background: rgb(64, 0, 83);
    color: beige;
    
}

.grid-item:nth-child(3)
{
    grid-column-end:1 ;
    grid-column-start: 3;
    grid-row-end: 1;
    grid-row-start: 3;

}